<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>lufthansamediadev</Name>
      <OrgId>738bc064-a9a9-4612-b1bb-27ace7a261dc</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vbHVmdGhhbnNhbWVkaWFkZXYuY3JtNC5keW5hbWljcy5jb207VXNlcm5hbWU9eHJtYWRtaW5AYW1iaWVudG1lZGlhLmx1ZnRoYW5zYS5jb207UGFzc3dvcmQ9J1ZjbGI0aXhyczJ0MnQmJzs=</ConnectionString>
      <Version>8.1.0.452</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>738bc064-a9a9-4612-b1bb-27ace7a261dc</OrgId>
      <Path>/a24_sales_tools_dlh.js</Path>
      <WebResourceId>c8ec00ab-085f-e611-80ee-5065f38ba511</WebResourceId>
      <WebResourceName>a24_sales_tools_dlh.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>